#tabla{
    border: 1px solid black;
}
#tabla td{
    padding: 5px;
    text-align: center;
}
#menu{
    position: relative;
    justify-items: center;
    top: 200px;
    margin-left: 40%;
}
#menu a{
    text-decoration: none;
}
#formU{
    width: fit-content;
    position: relative;
    justify-items: center;
    top: 200px;
    margin-left: 30%;
}