.imagenes {
    height: 170px;
    width: 190px;
    border-radius: 30px;
}
.videos {
    height: 200px;
    width: 200px;
}
#borde {
    border: 2px solid black;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: darkgray;
}