body{
    box-sizing: border-box;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    margin: 0;
}
#logo{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font-size: 40px;
}
#centro{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#boton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    font-size: 15px;
}
#vids{
    border: 0.5px solid rgb(173, 173, 173);
    background-color: rgb(230, 230, 230);
    font-size: 20px;
    height: 70px;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding-left: 15px;
}
#videoContainer{
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    gap: 10px;
    height: 200px;
    width: auto;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#audios{
    border: 0.5px solid rgb(173, 173, 173);
    background-color: rgb(230, 230, 230);
    font-size: 20px;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding-left: 15px;
}
#audioContainer{
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    gap: 10px;
    height: auto;
    width: auto;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#audioContainer > audio{
    color: white;
    border-radius: 20px;
}
#imgs{
    border: 0.5px solid rgb(173, 173, 173);
    background-color: rgb(230, 230, 230);
    font-size: 20px;
    height: 70px;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding-left: 15px;
}
#imageContainer{
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    gap: 10px;
    height: 200px;
    width: auto;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#otro{
    text-align: center;
}
#otro > #comentarios{
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 300px;
    border: 2px solid black;
    border-radius: 3px;
}
#otro > button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-size: 15px;
    margin-left: 10px;
}
footer{
    background-color: rgb(230, 230, 230);
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}