.menu {
    border: 2px solid #000000;
    background-color: white;
    border-radius: 50px;
    height: 320px;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 400px;
    margin-right: 400px;
}

.linea {
height: 1px;
background-color: black;
}

.usuario {
    font-size: 26px;
    padding-top: 30px;
    padding-left: 100px;
}

.pass {
    font-size: 26px;
    padding-left: 100px;
}

#inicioSe {
    margin-left: 200px;
    text-align: center;
    font-size: 20px;
    border-color: #000000;
}

#inicioSe:hover {
    cursor: pointer;
    background-color: rgb(141, 64, 185);
    color: rgb(255, 255, 255);
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}

body {
    background-color: rgb(141, 64, 185);
}
